<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="js/vue-script.js"></script>
    <title>vue-dischi</title>
  </head>
  <body>
    <div id="app">
      <div class="select-cont">
        <label for="genre">Choose a genre:</label>
        <select name="genre" v-model="selected">
          <option value="all">All</option>
          <option v-for="genre in genres" :value="genre">
            {{ genre }}
          </option>
        </select>
      </div>
      <div class="cont">
        <div v-for="(disc, index) in discs" class="card" :class="genreSelect(index)">
          <div class="card-img">
            <img :src="disc.poster" alt="">
          </div>
          <div class="card-info-cont">
            <ul>
              <li class="bold">{{ disc.author }}</li>
              <li>{{ disc.title }}</li>
              <li class="italic">{{ disc.genre }}</li>
              <li class="italic">{{ disc.year }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>